.Navbar{
    background-color: #ffffff;
    height: 95px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #EAECF0 solid;
}

.nav-heading{
    color: #344054;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 600;
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 28px;
    width: 45%;
}

.input-card{
    display: flex;
    flex-direction: row;
    border: 1px #EAECF0 solid;
    border-radius: 15px;
    height: 25px;
    width: 175px;
    background-color: #ffffff;
}

.nav-search{
    height: 18px;
    width: 18px;
    margin-right: 20px;
}

.nav-input{
    border: 0px;
    color: #98A2B3;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto";
}

.nav-notification{
    height: 18px;
    width: 18px;
}